
select{
    text-align-last:center;
    padding-right: 29px;
    direction: rtl;
    margin-bottom: 10px;
 } 
body{
    font-family: 'Exo', sans-serif;
}

.scroll-bg {
  height: 100%;
  width: 100%;
  position: fixed;
  padding-top: 20%;
  padding-bottom: 330px;
  background-image: url('indexbg.jpg');
  background-size: cover;
}

.center {
    text-align: center;
    margin: 0;
}
.manual {
    overflow: auto;
    height: 600px;
    width: 90%;
    margin: auto;
}
.outerParentShow{
   border-radius: 10px; 
   border: 2px solid gray;
   padding: 10px;
}

.indexButtons{
    width: 500px;  
}

.calculator{
    margin-left: 10px;
}

.texts p{
    padding : 0px;
    margin-bottom : 5px;
}

#empform{
    display:inline; 
}

#inneremployee{
    float:left;
    margin-left:5%;
}

#innerprice{
   display:inline;
   margin-right: 0;
   color:green;
}

.texts #date{
    color:black;
}

hr{
 background-color: #5F9EA0;
 border-top: 3px dashed #2F4F4F;
 width: 25%;
 margin:0 auto;
 margin-bottom:5px;
 margin-top:10px;
}

.expenses{
    width: 100%;
}

#changebutton{
    display:inline;
}

#Iresult{
    text-size:10px;
    margin:0;
    display:inline;
    color:green;
}

#Eresult{
    text-size:10px;
    margin:0;
    display:inline;
    color:#CA002A; 
}

.manual .Back_button{

}