
select{
    text-align-last:center;
    padding-right: 29px;
    direction: rtl;
 } 
body{
    font-family: 'Exo', sans-serif;
}

.scroll-bg {
  height: 100%;
  width: 100%;
  position: fixed;
  background-image: url('indexbg.jpg');
  background-size: cover;
}

.center {
    text-align: center;
    margin: 0;
}
.manual {
    overflow: auto;
    width: 90%;
}
.outerParentShow{
   border-radius: 10px; 
   border: 2px solid gray;
   padding: 10px;
}

.indexButtons{
    width: 500px;  
}

.texts p{
    padding : 0px;
    margin-bottom : 5px;
}

#empform{
    display:inline; 
}

#inneremployee{
    float:left;
    margin-left:5%;
}

#innerprice{
   display:inline;
   margin-right: 0;
   color:green;
}

.texts #date{
    color:black;
}

hr{
 background-color: #5F9EA0;
 border-top: 3px dashed #2F4F4F;
 width: 25%;
 margin:0 auto;
 margin-bottom:5px;
 margin-top:10px;
}

.expenses{
    width: 100%;
}

#changebutton{
    display:inline;
}

#Iresult{
    text-size:10px;
    margin:0;
    display:inline;
    color:green;
}

#Eresult{
    text-size:10px;
    margin:0;
    display:inline;
    color:#CA002A; 
}

/*Responsive Design*/
/*
1920 - big desktop
1600 - medium desktop
1440 - big laptop
1366 - medium laptop
1280 - small laptop
1200 and below mobile devices (probably landscape)
1024 - ipad landscape
768 - ipad portrait
767 - mobile devices (probably portrait)
*/
.column {
  float:  left;
  width:   50%;
  padding-top:10px;
  padding-bottom:10px;
}

.menu:after{
  content:"";
  display: table;
  clear:both;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
.login{
  float:right;
  width:30%;
}

.menu{
  margin-left:5%;
  margin-right:5%;
  padding:5px;
}

.carousel-control{
  margin-top:20%;
  height:400px;
}

.slideshow{
 margin-left:20%;
 margin-right:20%;
 margin-top:10px;
 height:300px;
}

.item img{
max-height: 400px;
/*max-width: 500px;*/
}

}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
.login{
  float:right;
  width:30%;
}

.menu{
  margin-left:5%;
  margin-right:5%;
  padding:5px;
}

.carousel-control{
  margin-top:20%;
  height:400px;
}

.slideshow{
 margin-left:20%;
 margin-right:20%;
 margin-top:10px;
 height:300px;
}

.item img{
width:100%;
height:100%;
margin:auto;
/*max-width: 500px;*/
}
}